/* body {
    font-family: Arial, Verdana, sans-serif;
}
h1, h2 {
    color: #ee3e80;
}
p {
    color: #665544;
} */

body {
    background-color: rgba(0,0,0,0);
    font-size: 16px;
    font-weight: 400;
}

a:visited {
    color: black;
}

a:link {
    color: black;
    text-decoration: none;
}

a:hover {
    color: deeppink;
    text-decoration: underline;
}

p {
 padding: 5px 20px 10px 0px;
}

ol {
    list-style-type: lower-roman;}

.page {
    border: 5px dashed #665544;
    background-color: #efefef;
    padding: 3px;
}

input {
    font-size: 120%;
    color: #5a5854;
    background-color: #f2f2f2;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding: 5px 5px 5px 30px;
    background-repeat: no-repeat;
    background-position: 8px 9px;
    display: block;
    margin-bottom: 10px;}
    input:focus {
    background-color: #ffffff;
    border: 1px solid #b1e1e4;}
    input#email {
    background-image: url("images/email.png");}
    input#twitter {
    background-image: url("images/twitter.png");}
    input#web {
    background-image: url("images/web.png");}